body {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: chocolate ;
}

.caja {
    width: 200px;
    height: 250px;
    border: 1px solid (black);
    margin: 5px;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    padding: 5px;
    margin-top: 30px;
}

.caja p {
    word-wrap: break-word;
    display: inline-flex;
    align-items: stretch;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.seleccionada {
    background-color: aquamarine;
    color: yellowgreen;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.seleccionada:hover{
    filter: drop-shadow(0 10px 10px rgba(12, 1, 1, 0.87));
}
.seleccionada p{
    color: beige;
}
div p{
    color: rgb(96, 22, 131);
    font-weight: bolder;
    word-wrap: break-word;
    display: inline-flex;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
input{
    width: 164px;
    border-radius: 5px;
    border: 1px solid rgb(96, 22, 131);
}
button{
    width: 170px;
    height: 40px;
    display: block;
    margin-top: 10px;
    font-weight: bolder;
    filter: drop-shadow(0 2px 8px rgba(12, 1, 1, 0.87));
    background-color: rgba(97, 22, 131, 0.719);
    cursor: pointer;
    color: beige;
}

.card {
    perspective: 150rem;
    position: relative;
    height: 15rem;
    width: 260px;
    margin: 2rem;
    box-shadow: none;
    background: none;
    display: inline-flex;
  }
  
  .card-side {
    height: 15rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    padding:2rem;
    color: white
  }
  
  .card-side.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
  }
  
  .card-side.front {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .card:hover .card-side.front {
    transform: rotateY(180deg);
  }
  
  .card:hover .card-side.back {
    transform: rotateY(0deg);
  }